.rightBar {
    flex: 3.5;
}

.rightBarWrap {
    padding: 20px 20px 0 0;
}
.birthContainer {
    display: flex;
    align-items: center;
}

.birthImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthText {
    font-weight: 300;
    font-size: 15px;
}

.AdsRightBar {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.titleRight {
    margin-bottom: 20px;
}

.rightBarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.followingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.rightInfo{
    margin-bottom: 30px;
}

.infoItemList {
    margin-bottom: 10px;
}

.infoItemCity {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.infoItemKey{
    font-weight: 300;
}

.following {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.followings {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}
