.menuContainer {
    height: 50px;
    width: 100%;
    background-color: #461111;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* Menu Bar Left */
.menubarLeft {
    flex: 3;
   
}
.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* Menu Bar Center */
.menubarCenter {
    flex: 5;
    
}
.searchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #461111;
   
}
.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
    
}
.searchInput {
    border: none;
    width: 70%;
    background-color: white;
    
}
.searchInput:focus {
    outline: none;

}

/* Menu Bar Right */
.menubarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    
}
.menubarLink {
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}
.menubarIcons {
    display: flex;
}
.menubarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;

}
.menubarIconBudge {
    width: 15px;
    height: 15px;
    background-color: #FF0000;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.menubarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    /* object-fit: cover; */
    cursor: pointer;
    border: 1px solid #B3541E;
}